<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <header class="container" style="background-color: black; min-height: 60px; color: white;">
        <div style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
            <div>HI {{user.name}} {{user.lastName}}</div>
            <div style="height: 200px; width: 200px; border-radius:  50%; margin-top: 20px; background-image: url('http://via.placeholder.com/200')">
            </div>
        </div>
    </header>
    <div class="container" style="border-left: 2px solid #DADADA; border-right: 2px solid #DADADA;">
        <div style="display: flex; flex-direction: column; align-items: center; padding: 20px; text-align: center;">
            <p>You recently requested to reset your password of your account. Click the button below to reset it.</p>
            <a href="{{url}}">
                <button type="button" class="btn btn-primary">RESET PASSWORD</button>
            </a>
        </div>
    </div>
    <footer class="container" style="background-color: black; min-height: 60px;">

    </footer>
</body>
</html>